.title {
    color: blue;
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    /* The below function means that the minimum row height is 100, but if you go above 100 then the height of the row scales with the size of the div */
    grid-auto-rows: minmax(10px, auto);
    row-gap: 20px;
}

.chart {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    /* justify-content: center; */
}

.menu {
    display: flex;
    grid-column: 3;
    grid-row: 3;
}

.menuTop {
    display: flex;
}

.menuBotom {
    display: flex;
}

.tickerBox {
    display: flex;
    width: 50%;
}

.metricBox {
    display: flex;
    width: 50%;
}

.timeframeBox {
    display: flex;
    /* justify-content: center; */
}

.input {
    margin-right: 10px;
}