.title {
    color: blue;
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    /* The below function means that the minimum row height is 100, but if you go above 100 then the height of the row scales with the size of the div */
    grid-auto-rows: minmax(10px, auto);
    row-gap: 10px;
}

.chart {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    /* justify-content: center; */
}

.menu {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    grid-auto-rows: minmax(10px, auto);
    row-gap: 10px;
}

.menu .menuTop {
    display: flex;
    grid-row: 1;
    justify-content: center;
}

.menu .menuBottom {
    display: flex;
    grid-row: 2;
    justify-content: center;
}


.timeframeBox {
    display: flex;
    justify-content: left;
}

.menu .metricBox {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

.menu .tickerBox {
    display: flex;
    align-items: center;
    justify-content: center;
}



.tickerInput {
    margin-left: 10px;
}